@font-face {
    font-family: Rubrik;
    src: url("../fonts/Rubik.ttf");
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

html{
    font-family: Rubrik;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

div#home{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    background-image: url("../img/bg-portifolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: fixed;
    width: 100%;
    height: 8%;
    padding: 1rem 10rem;
    background: white;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    z-index: 2;
}

ul#menu{
    display: flex;
    column-gap: 10rem;
    font-size: 16pt;
    font-weight: bold;
}

ul#menu li a{
    position: relative;
    text-decoration: none;
}


ul#menu li a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

ul#menu li a:hover:after{
    width: 100%;
}

.menu-item{
    color: black;
}

div#social{
    display: flex;
    gap: 5rem;
}

div#social img{
    width: 4rem;
    transition: all 0.5s;
}

div#social img:hover{
    transform: scale(1.2);
}

section#jp{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}

hgroup h1#name{
    font-size: 70pt;
    background: #666666;
    background: linear-gradient(to left, #666666 1%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hgroup h2#role{
    font-size: 50pt;
    background: #D4D4D4;
    background: linear-gradient(to left, #D4D4D4 1%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

figure img#img-home-2{
    display: none;
}

div#about{
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("../img/bg-portifolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section#section-about{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10% 5rem 0 5rem;
}

hgroup#text-about{
    width: 50%;
    height: 80%;
    background: rgb(255,255,255,0.3);
    border-radius: 2rem;
    box-shadow: 1px 1px 10px #666666;
    padding: 3rem;
}

hgroup#text-about h2{
    font-size: 50pt;
}

hgroup#text-about p{
    font-size: 25pt;
}

figure#fig-about{
    position: relative;
}

img#img-self-ilustration{
    position: absolute;
    bottom:0;
    right: 0;   
    width: 86.5rem;
    z-index: 1;
}

div#projects{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("../img/bg-portifolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section#section-projects{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 5rem;
    padding: 5% 5rem 0 5rem;
}

.project{
    background-image: url('../img/breve.png');
    opacity: 0.8;
    border-radius: 5rem;
    width: 45rem;
    height: 35rem;
    transition: all 0.6s;
}

.project:hover{
    cursor: pointer;
    transform: scale(1.1);
}

div#techstack{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url("../img/bg-portifolio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section#section-teckstack{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 15rem 5% 15rem;
}

div#tecks{
    width: 45%;
    height: 100%;
    background: rgb(255,255,255,0.3);
    border-radius: 2rem;
    box-shadow: 1px 1px 10px #666666;
    padding: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

i{
    font-size: 15rem;
    transition: font-size 0.5s;
}

i:hover{
    font-size: 17rem;
}

div#description{
    text-align: justify;
    position: relative;
    width: 50%;
    height: 80%;
    background: rgb(255,255,255,0.3);
    border-radius: 2rem;
    box-shadow: 1px 1px 10px #666666;
    padding: 3rem 8rem 3rem 3rem;
}

.tech-description{
    display: none;
}

.tech-description.active{
    display: block;
}

.tech-description h2{
    font-size: 50pt;
}

.tech-description p{
    margin-top: 3rem;
    font-size: 25pt;
}

footer{
    height: 10rem;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    background: rgb(172, 172, 172);
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid black;
}

footer p{
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 1440px){
    hgroup h1#name{
        font-size: 55pt;
    }
    hgroup h2#role{
        font-size: 35pt;
    }

    hgroup#text-about h2{
        font-size: 35pt;
    }
    
    hgroup#text-about p{
        font-size: 22pt;
    }
    
    img#img-self-ilustration{ 
        max-width:83.5rem;
        right: -12rem;
    }
    
    .project{
        background-image: url('../img/breve-1440.png');
        max-width: 40rem;
        height: 31.1rem;
    }
    .project:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    i{
        font-size: 10rem;
        transition: font-size 0.5s;
    }
    
    i:hover{
        font-size: 11.5rem;
    }
    div#description{
        padding: 3rem 7rem 3rem 3rem;
    }
    .tech-description h2{
        font-size: 40pt;
    }
    
    .tech-description p{
        margin-top: 3rem;
        font-size: 22pt;
    }
}

@media screen and (max-width: 768px){
    header{
        padding: 1rem 2rem;
    }
    ul#menu{
        display: flex;
        column-gap: 3rem;
        font-size: 16pt;
        font-weight: bold;
    }
    section#jp{
        padding: 15rem 0 0 0;
        flex-direction: column;
        justify-content: space-between;
    }
    figure img#img-home-1{
        display: none;
    }
    figure img#img-home-2{
        display: block;
        max-width: 70rem;
    }
    hgroup h1#name{
        font-size: 40pt;
    }
    hgroup h2#role{
        font-size: 30pt;
    }
    section#section-about{
        display: block;
        padding: 20% 5rem 0 5rem;
    }
    hgroup#text-about{
        max-width: 100%;
        height: 90%;
        padding: 4rem;
    }
    hgroup#text-about h2{
        font-size: 37pt;
    }
    
    hgroup#text-about p{
        font-size: 25pt;
    }
    
    img#img-self-ilustration{ 
        display: none;
    }
    section#section-projects{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 5rem;
        padding: 15% 5rem 10% 5rem;
    }
    .project{
        background-image: url('../img/breve-768.png');
        max-width: 40rem;
        height: 22rem;
    }

    div#project4,div#project5,div#project6{
        display: none;
    }
    .project:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    section#section-teckstack{
        padding: 8% 1rem 5% 1rem;
    }
    div#tecks{
        max-width: 40%;
        height: 90%;
    }
    i{
        font-size: 8rem;
        transition: font-size 0.5s;
    }
    
    i:hover{
        font-size: 9rem;
    }
    div#description{
        max-width: 55%;
        height: 70%;
        padding: 3rem 7rem 3rem 3rem;
    }
    .tech-description h2{
        font-size: 30pt;
    }
    
    .tech-description p{
        margin-top: 1rem;
        font-size: 20pt;
    }
}

@media screen and (max-width: 414px){
    html{
        overflow-x: hidden;
    }
    header{
        justify-content: center;
        overflow: hidden;
        padding: 1rem 2rem;
    }
    ul#menu{
        display: flex;
        column-gap: 3rem;
        font-size: 12pt;
        font-weight: bold;
    }
    div#social{
        display: none;
    }
    section#jp{
        padding: 10rem 2rem 0 2rem;
    }
    figure img#img-home-1{
        display: none;
    }
    figure img#img-home-2{
        display: block;
        max-width: 45rem;
    }
    hgroup h1#name{
        font-size: 42pt;
    }
    hgroup h2#role{
        font-size: 30pt;
    }
    section#section-about{
        display: block;
        padding: 30% 5rem 0 5rem;
    }
    hgroup#text-about{
        overflow: scroll;
        overflow-x: hidden;
    }
    hgroup#text-about h2{
        font-size: 20pt;
    }
    hgroup#text-about p{
        font-size: 14.5pt;
    }
    section#section-projects{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 0;
        padding: 22% 0 10% 0;
    }
    .project{
        background-image: url('../img/breve-375.png');
        max-width: 33rem;
        height: 20rem;
    }
    section#section-teckstack{
        padding: 8% 1rem 5% 1rem;
    }
    div#tecks{
        max-width: 40%;
        height: 90%;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    div#description{
        max-width: 55%;
        height: 70%;
        padding: 3rem 7rem 3rem 3rem;
        overflow-y:scroll;
    }
    .tech-description h2{
        font-size: 20pt;
    }
    
    .tech-description p{
        margin-top: 1rem;
        font-size: 14pt;
    }
}